ingress-nginx:
  controller:
    metrics:
      enabled: true
      service:
        enabled: true
        type: ClusterIP
        ports:
          metrics: 10254
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "10254"
          prometheus.io/path: "/metrics"

    config:
      metrics-per-ingress: "true"
      metrics-per-host: "true"

    service:
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/azure-load-balancer-health-probe-protocol: tcp
        service.beta.kubernetes.io/azure-load-balancer-force-reconcile: "true"

prometheus:
  server:
    service:
      type: ClusterIP

    extraScrapeConfigs:
    - job_name: ingress-nginx
      kubernetes_sd_configs:
      - role: endpoints
      relabel_configs:
      - source_labels: [ __meta_kubernetes_service_name ]
        action: keep
        regex: ingress-nginx-controller-metrics
      - source_labels: [ __meta_kubernetes_endpoint_port_name ]
        action: keep
        regex: metrics

  alertmanager:
    enabled: false

  pushgateway:
    enabled: false

grafana:
  adminUser: admin
  adminPassword: changeme

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: default
        orgId: 1
        folder: Kubernetes
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

  dashboards:
    default:
      kubernetes-cluster:
        gnetId: 315
        revision: 3
        datasource: Prometheus

      node-exporter-full:
        gnetId: 1860
        revision: 33
        datasource: Prometheus

      kubernetes-pods:
        gnetId: 893
        revision: 1
        datasource: Prometheus

      kubernetes-deployments:
        gnetId: 747
        revision: 1
        datasource: Prometheus

      ingress-nginx:
        gnetId: 12121
        revision: 1
        datasource: Prometheus

  service:
    type: ClusterIP
    port: 3000

  persistence:
    enabled: false

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://canary-prometheus-server.default.svc.cluster.local
        isDefault: true

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
    datasources:
      enabled: true
