apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: success-rate
spec:
  args:
    - name: service-name
  metrics:
    - name: success-rate
      # How often to check the metric
      interval: 1m
      count: 3  
      # How many times it can fail before aborting the rollout
      failureLimit: 3
      # The condition that must be true for the check to pass
      successCondition: "{{ `len(result)==0 || result[0] < 0.05` }}" 
      provider:
        prometheus:
          # Replace with your actual Prometheus service address
          address: http://canary-prometheus-server.default.svc.cluster.local
          apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: success-rate
spec:
  args:
    - name: service-name
  metrics:
    - name: success-rate
      # How often to check the metric
      interval: 1m
      count: 3  
      # How many times it can fail before aborting the rollout
      failureLimit: 3
      # The condition that must be true for the check to pass
      successCondition: "{{ `len(result) == 0 || (len(result) > 0 && result[0] < 0.05)` }}" 
      provider:
        prometheus:
          # Replace with your actual Prometheus service address
          address: http://canary-prometheus-server.default.svc.cluster.local
          query: |
            sum(
                rate(nginx_ingress_controller_requests{
                service="{{`{{args.service-name}}`}}",
                status=~"5.."
              }[5m]))
            /
            sum(
                rate(nginx_ingress_controller_requests{
                service="{{`{{args.service-name}}`}}"
            }[5m]))